<script>
    const authors = [
        { id: 1, fam: "Морозов Д.А.", age: 20 },
        { id: 2, fam: "Тоже я", age: 72 },
        
    ];

    export let params = {};
    console.log(params.id, params);
    let auth = authors.filter((o) => o.id == params.id)[0];
</script>

<div class="wrapper">
    <div>{authors.filter((o) => o.id == Number(params.id))[0].fam}</div>
    <div>{auth.age} лет</div>
</div>

<style>
    .wrapper {
        display: flex;
        width: 200px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
</style>
