<script>
    import { link } from "svelte-spa-router";
</script>

<h3>Краткие сведения об авторах</h3>
<ul>
    <li><a href="/author/1" use:link>Морозов. Д.А.</a></li>
    <li><a href="/author/2" use:link>Морозов. Д.А.</a></li>
  
</ul>

<style>
    h3 {
        text-align: center;
    }
    ul {
        list-style: none;
        width: 300px;
        margin: 20px auto;
    }
</style>
