<script>
    import { link } from "svelte-spa-router";
</script>

<h1>We are sorry!</h1>
<p>The travel tips you are looking for do not exist.</p>
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSLedLuSZwfWE5dS6W4pPHlEHY60F-lozhg7FTiQ-qdeL3ZxJp2LjG0VfpOWTm4G-8SzLo&usqp=CAU" alt="img" />
<p>We still have other travel tips you might be interested in!</p>
<a href="/" use:link>
    <h2>Take me home →</h2>
</a>

<style>
    img {
        width: 100%;
    }
</style>
