<script>
  import { ini_data, group_selected, group_data } from "./stores.js";
  import { isToday, toEnDate } from "./utils";
  let gs_sel = {};
  let frm_sel = {};
  let curs_sel = {};
  let curs_by_form = [];
  let gs_by_curs = [];
  let data = $ini_data;
  let raspis = $group_data;
  function on_gschange() {
    group_selected(gs_sel.GS_ID);
  }
  function on_frmchange() {
    curs_sel = "null";
    curs_by_form = frm_sel.arr;
  }
  function on_curschange() {
    gs_sel = "null";
    gs_by_curs = curs_sel.arr;
  }
</script>

<div class="menu">
  <block>
    <div class="select is-primary sel-wrapp">
      <select bind:value={frm_sel} on:change={on_frmchange} on:blur={null}>
        <option value="null" selected disabled>
          Выберите форму обучения
        </option>
        {#each data as item}
          <option value={item}>
            {item.FormEduName}
          </option>
        {/each}
      </select>
    </div>
  </block>

  <block>
    <div class="select is-primary sel-wrapp">
      <select bind:value={curs_sel} on:change={on_curschange} on:blur={null}>
        <option value="null" selected disabled> Выберите курс </option>
        {#each curs_by_form as item}
          <option value={item}>
            {item.Curs + " курс"}
          </option>
        {/each}
      </select>
    </div>
  </block>

  <block>
    <div class="select is-primary sel-wrapp">
      <select bind:value={gs_sel} on:change={on_gschange} on:blur={null}>
        <option value="null" selected disabled> курс </option>
        {#each gs_by_curs as item}
          <option value={item}>
            {item.GSName}
          </option>
        {/each}
      </select>
    </div>
  </block>
</div>
<!-- {#if $group_data.length}
   {#each $group_data as item}
      <div class="box">
        {item.Name}
        {#each item.Sched as ras}
          <div class="box">
              {ras.datePair}
              {ras.dayWeek}
              {#each ras.mainSchedule as object}
                <div class="box">
                  {object.TimeStart}
                  {object.SubjName}
                  {object.LoadKindSN}
                  {object.FIO}
                  {object.Aud}
                </div>
              {/each}
          </div>
        {/each}
      </div>
   {/each}
{/if} -->

{#if $group_data.length}
  <div class="main">
    {#each $group_data as item}
      <div class="data a">
        {item.Name}
      </div>
      {#each item.Sched as ras}
        <div class="data b" id={toEnDate(ras.datePair)}>
          {#if isToday(ras.datePair) == true}
              {ras.datePair}    
              Сегодня   
              {:else}  
              {ras.datePair}
              {ras.dayWeek}               
          {/if}
          {#each ras.mainSchedule as object}
            <div class="data c">
              {object.TimeStart}
              {object.SubjName}
              {object.LoadKindSN}
              {object.FIO}
              {object.Aud}
            </div>
          {/each}
        </div>
      {/each}
    {/each}
  </div>
{/if}

<style>
  .main {
    padding-top: 10px;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
  }

  .menu {
    display: grid;
    grid-template-areas: "block block block";
    width: 100%;
  }
  .data {
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
  }

</style>
