<script>
	import { list } from '../stores';
	import { name } from '../stores';
	function increment() {
		if ($name != "")
			$list = [...$list, {text: $name, status: false, date:new Date()}];
			$name =  "";
	}
</script>
<button class="button is-primary is-light" on:click={increment}>
	+
</button>
