<script>
  import svelteLogo from "./assets/svelte.svg";
  

  import Router, { link } from "svelte-spa-router";
  import { routes } from "./routes.js";
</script>

<main>
  <h3><a href="/" use:link>AnimeWorld.com</a></h3>
  <h4><a href="/authors" use:link>Авторы</a></h4>
  <h5><a href = "/ToDo/:todo" use:link> todo </a></h5>
  <Router {routes} />
</main>

<style>
  /*Roboto*/
  @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");



  :global(body) {
    margin: 0;
    padding: 20px;
  }

  :global(a) {
    text-decoration: none;
    color: #551a8b;
  }

  main {
    max-width: 800px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
  }
</style>
